[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=basedkrita
X-Python-2-Compatible=false
Name=Based Krita
Comment=Random additions for Krita
